.maintop{
  background-color:#35f8f4;
  height:10%;
  width:100%;
  border: 1 px #35f8f4;
  border-radius: 10px;
}

.test{
  color:blue;
  text-align:center;
  font-size:200%;
  position: relative;
}
