.maintop{
  background-color:#35f8f4;
  height:10%;
  width:99%;
  border: 1 px #35f8f4;
  border-radius: 10px;
  position:absolute;
}

.leftside{
 border-radius:10px;
 right:89%;
 top:13%;
 height:70%;
 width: 10%;
 background-color:red;
 border: 1 px red;
 position:absolute;
}

.rightside{
 border-radius:10px;
 left:89%;
 top:13%;
 height: 70%;
 width: 10%;
 background-color:yellow;
 border: 1 px yellow;
 position:absolute;
}

.middle{
 border-radius:10px;
 left:12%;
 top:13%;
 height: 70%;
 width: 76%;
 background-color:blue;
 border: 1 px blue;
 position:absolute;
}

.bottom{
 background-color:green;
 border: 1 px green;
 border-radius:10px;
 top:84%;
 height: 10%;
 width: 99%;
 position:absolute;
}

.test{
  color:blue;
  text-align:center;
  font-size:200%;
  position: relative;
}
