.maintop{
  background-color:#35f8f4;
  height:10%;
  width:98%;
  border: 1 px #35f8f4;
  border-radius: 10px;
  position:absolute;
  display:block;
}

.test{
  color:blue;
  text-align:center;
  font-size:200%;
  position: relative;
}
